<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee-table</title>
</head>
<body>
    <form method="post">
      {% csrf_token %}
        <label for="name">Employee Name</label>
        <input type="text" name="employeename" placeholder="enter employee name" required/><br><br>

        <label for="profile">Employee Profile</label>
        <input type="text" name="employeeprofile" placeholder="enter employee profile" required/><br><br>


        <label for="department">Department</label>
          <input type="radio" name="department" value="IT" required> IT</option>
          <input type="radio" name="department" value="Medical" required>Medical</option>
          <input type="radio" name="department" value="Business" required>Business</option><br><br>

        <label for="salary">Salary</label>
        <input type="text" name="salary" placeholder="enter salary..." required/><br><br>

        <label for="bonus">Bonus</label>
        <input type="text" name="bonus" placeholder="bonus..." required/><br><br>

        <label for="Location">Location</label>
        <input type="text" name="location" placeholder="location..." required/><br><br>

        
        <label for="role">Role</label>
        <input type="text" name="role" placeholder="enter your company role.." required/><br><br>

        <label for="phone">Phone</label>
        <input type="tel" name="phone" placeholder="phone number..." required/><br><br>

        <button>submit</button>
    </form>
    
</body>
</html>